<!DOCTYPE HTML>
<html>
	<head>
		<title>BagsStore</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css" />

	
	</head>
	<body class="homepage is-preload">
		
		<div id="page-wrapper">
			
			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="contactus.html">BagsStoreStar</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="home.html">Home</a></li>
								<li>
									<a href="#">Menu</a>
									<ul>
										<li><a href="#">14 August Sale</a></li>
										<li><a href="#">Customer Reviews</a></li>
										<li><a href="#">Footwear</a></li>
										<li>
											<a href="#">Bags</a>
											<ul>
												<li><a href="#">All</a></li>
												<li><a href="#">school bags</a></li>
												<li><a href="#">travelling bags</a></li>
												<li><a href="#">ladies bags</a></li>
												<li><a href="#">premium bags</a></li>
											</ul>
										</li>
										<li><a href="#">Blog</a></li>
									</ul>
								</li>
								<li><a href="blogs.html">Blog</a></li>
								<li><a href="backpacks.html">Backpacks</a></li>
								<li><a href="contactus.html">Contact Us</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Contact Us</h2>
							</header>
						</section>
			<!-- Main -->
			<!-- Section -->
            <br>
            <br>
            <section class="blank">
                
                
                    <ul class="social">
                        
                        <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                        <li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                        <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
                        <br>
                        <br>

                    </ul>
                   
                    <section>
                    <ul class="contact">
                        <li>
                            <h3>Address</h3>
                            <p>
                                Suite B-6, near Kamran Chowrangi , Block 3-A Block 3 A Gulistan-e-Johar, Karachi, 75290<br />
                            
                                
                            </p>
                        </li>
                        <li>
                            
                            <h3>Mail</h3>
                            <p><a href="#">muhammad12arsal@gmail.com</a></p>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            <p>(+92) 0300-123-4567</p>
                        </li>
                    </ul>
                </section>
                <div class="content">
                    <header>
                        <h2>GET IN TOUCH</h2>
                    </header>
               
                    <form action ="submit_form" method="post" >
                        <div class="fields">
                            <div class="field half">
                                <input name="email" type="text"  id="email" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input name="subject" type="text"  id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="button primary" /></li>
                        </ul>
                    </form>
                </div> 

                

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; All rights reserved.</li>Design by CRYPTO<li></a></li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>

		</div>

	</body>
</html>