<!DOCTYPE HTML>
<html>
	<head>
		<title>BagsStore</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css" />

	
	</head>
	<body class="homepage is-preload">
		
		<div id="page-wrapper">
			<!-- <iframe id="page-wrapper" src="static/assets/css/images/bp02.jpg" width="100%"> -->

			</iframe>
			
			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="home.html">BagsStoreStar</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="#">Home</a></li>
								<li>
									<a href="#">Menu</a>
									<ul>
										<li><a href="#">14 August Sale</a></li>
										<li><a href="#">Customer Reviews</a></li>
										<li><a href="#">Footwear</a></li>
										<li>
											<a href="#">Bags</a>
											<ul>
												<li><a href="#">All</a></li>
												<li><a href="#">school bags</a></li>
												<li><a href="#">travelling bags</a></li>
												<li><a href="#">ladies bags</a></li>
												<li><a href="#">premium bags</a></li>
											</ul>
										</li>
										<li><a href="#">Blog</a></li>
									</ul>
								</li>
								<li><a href="blogs.html">Blog</a></li>
								<li><a href="backpacks.html">Backpacks</a></li>
								<li><a href="contactus.html">Contact Us</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Welcome to BagsStoreStar</h2>
								<p>	"Carry dreams, express style. Our bags are more than accessories; they're companions on your journey of self-expression and exploration."</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured fa-cog"></i>
										<header>
											<h2>Adjustable Bags</h2>
										</header>
										<p>Imagine having a bag that effortlessly transforms to fit your specific needs. Adjustable bags are ingeniously designed to be flexible, offering various ways to modify their shape, size, and functionality. With smart features like expandable compartments, removable dividers, and adjustable straps.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-bolt"></i>
										<header>
											<h2>Trending Now</h2>
										</header>
										<p>Elevate your style and convenience with our trending adjustable bags! Designed to adapt to your dynamic lifestyle, these bags are the ultimate blend of fashion and functionality.
											Stay ahead of the trend curve - explore our collection of adjustable bags today and experience a new level of adaptable elegance.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt2 fa-star"></i>
										<header>
											<h2>Our Customers Favourite</h2>
										</header>
										<p>At [BagsStoreStar] customer satisfaction is our top priority, and our customer favorite adjustable bags truly reflect this commitment.
											
										 [🌟Samsonite🌟]: this bag has won over hearts with its adjustable design. From its sleek compartments to its customizable straps, it's perfect for every moment.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button large">Get Started</a></li>
									<li><a href="#" class="button alt large">Learn More</a></li>
								</ul>
							</footer>
						</section>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<center><h1>FEATURED COLLECTION </h1></center>
						<div class="row">
							
							<div class="col-12">

								<!-- Portfolio -->
									<section>
										<header class="major">
											
											<h2>Ladies Bags</h2>
										</header>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="static/images/pic1.jpg" alt=""  /></a>
													<header>
														<h3>Trendsetting Styles:</h3>
													</header>
													<p>Our range of ladies' bags boasts the latest trends, ensuring that you're always ahead of the fashion curve. From chic and minimalist crossbody bags to statement-making tote bags, we have it all. Our team of fashion experts meticulously handpicks each piece, ensuring that only the most stylish and on-trend designs make it to your closet..</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Find out more</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="static/images/pic8.jpg" alt="" /></a>
													<header>
														<h3>Unmatched Quality: </h3>
													</header>
													<p>We understand that a bag is more than just an accessory; it's a reflection of your taste and an investment in your style. That's why we offer bags crafted from the finest materials, expertly stitched and finished to perfection. Our commitment to quality ensures that your chosen bag will stand the test of time.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Find out more</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="static/images/pic7.jpg" alt=""  /></a>
													<header>
														<h3>Gifts That Delight:</h3>
													</header>
													<p>Looking for the perfect gift for a special woman in your life? Our bags make for unforgettable presents that show just how much you care. Whether it's a birthday, anniversary, or any other occasion, our collection includes bags that allowing you to make a stylish statement and can bring a smile to her face..</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Find out more</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<section>
												<header class="major">
													<h2>School Bags Collections</h2>
												</header>
												<div class="row">
													<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													
													<a href="#" class="image featured"><img src="static/images/pic2.jpg" alt=""  /></a>
													<header>
														<h1> Reflecting Individuality:</h1>
													</header>
													<p>Our school bags are more than just backpacks; they're a reflection of a student's individuality and a tool to make their school days more organized and efficient.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Find out more</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="static/images/pic3.jpg" alt="" /></a>
													<header>
														<h1>Smart Designs for Bright Minds:</h1>
													</header>
													<p> We believe that each student is unique, and their school bag should reflect that. Our customizable options allow students to add their personal touch – whether it's a favorite quote, a monogram, or a unique design. Let your school bag tell your story.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Find out more</a></li>
														
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="static/images/pic9.jpg" alt="" /></a>
													<header>
														<h1>Durability and Reliability: </h1>
													</header>
													<p>We understand that school bags go through a lot – from heavy textbooks to daily wear and tear. That's why our bags are crafted from durable materials, reinforced stitching, and sturdy zippers to academic life.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Find out more</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
							<div class="col-12">
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<section>
									<header>
										<h2>Recent News</h2>
									</header>
									<ul class="dates">
										<li>
											<span class="date">Aug <strong>1</strong></span>
											<h3><a href="#">14 August Mega Sale</a></h3>
											<p>Flat 40% off ,Shop Now.</p>
										</li>
										<li>
											<span class="date">May<strong>13</strong></span>
											<h3><a href="#">Great News,Shoes Coming Soon!</a></h3>
											<p>We will provide you the best Quality shoes you ever had , with our partners adidas.</p>
										</li>
										<li>
											<span class="date">Jan <strong>15</strong></span>
											<h3><a href="#">New Stock just Arrived</a></h3>
											<p>keep ahead with our new stock .</p>
										</li>
										<li>
											<span class="date">Jan <strong>12</strong></span>
											<h3><a href="#">Our First Customer Satisfaction</a></h3>
											<p>Absolutely Great Products by BagsStoreStar really satisfied.</p>
											<p>by "Ahmed"</p>
										</li>
										<li>
											<span class="date">Jan <strong>10</strong></span>
											<h3><a href="#">Launching Our Brand</a></h3>
											<p>We welcome you all to become a part of our brand .</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>What's this all about?</h2>
									</header>
									<a href="#" class="image featured"><img src="static/images/pic12.jpg" alt="" /></a>
									<p>
										This is <strong>BagsStoreStar </strong>
										<a href="http://twitter.com/"></a></a> we understand that a school bag is more than just a functional accessory; it's a student's constant companion throughout their educational journey. Our mission is to provide students of all ages with high-quality, stylish, and ergonomic school bags that not only carry textbooks but also carry dreams.
									
									</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button">Find out more</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section>
									<header>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section>
									<header>

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; All rights reserved.</li>Design by CRYPTO<li></a></li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>